.s-works__front-card {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.s-works__front-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
