.s-works__front-card {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.s-works__front-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.s-works__item-click-span {
    font-family: Geologica-thin;
    position: absolute;
    top: 40%;
    right: 20%;
    z-index: 999;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.s-works__item-click-span svg {
    width: 40px;
    height: 40px;
    transform: rotate(-30deg);
    filter: drop-shadow(2px 5px 1px rgba(0, 0, 0, 0.6));
}
