/* common styles */

.button-primary,
.button-secondary {
    width: fit-content;
    padding: 20px 25px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: ease 0.3s all;
    cursor: pointer;
    font-family: Geologica-regular;
    font-size: 1.005rem;
}

/* Primary button */

.button-primary {
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
}

.button-primary--light {
    border-color: rgb(var(--text-white));
    color: rgb(var(--text-white));
}

.button-primary--light:hover {
    background-color: rgb(var(--text-white));
    color: rgb(var(--text-black));
}

.button-primary--dark {
    border-color: rgb(var(--text-black));
    color: rgb(var(--text-black));
}

.button-primary--dark:hover {
    background-color: rgb(var(--text-black));
    color: rgb(var(--text-white));
}

.button-primary--transparent {
    background-color: transparent;
}

/* Secondary button */

.button-secondary {
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.button-secondary--light {
    background-color: #ddd;
    color: rgb(var(--text-black));
}

.button-secondary--dark {
    background-color: #333;
    color: rgb(var(--text-white));
}

.button-secondary--light:hover,
.button-secondary--dark:hover {
    opacity: 0.6;
}

.button-primary--disabled,
.button-secondary--disabled {
    opacity: 0.3;
    pointer-events: none;
}

.button-arrow {
    width: fit-content;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s all;
    cursor: pointer;
    font-family: Geologica-regular;
    font-size: 1.005rem;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.button-arrow--dark {
    background-color: #333;
    color: rgb(var(--text-white));
}

.button-arrow--light {
    background-color: #ddd;
    color: rgb(var(--text-black));
}

.button-arrow--dark:hover,
.button-arrow--light:hover {
    opacity: 0.6;
}
