.slider__strength {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.slider__strength-icon {
  color: rgb(var(--text-white));
}

.slider__strength-icon svg {
  width: 150px;
  height: 150px;
}

.slider__strength-title {
  font-family: Geologica-medium;
  color: rgb(var(--text-white));
  text-transform: capitalize;
  text-align: center;
}
