.footer-proyect-detail {
    padding: var(--section-vertical-padding) var(--padding-page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
}
.footer-proyect-detail__thanks {
    font-family: Geologica-bold;
    text-align: center;
    font-size: clamp(
        2.5rem,
        calc(
            2.5rem +
                (
                    (5rem - 2.5rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        5rem
    );
}
.footer-proyect-detail__readme {
    font-family: Geologica-thin;
    text-align: center;
    font-size: clamp(
        1rem,
        calc(
            1rem +
                (
                    (1.2rem - 1rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        1.2rem
    );
}
.footer-proyect-detail__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}
