.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
}

.slider__track {
    display: flex;
    width: fit-content;
    gap: 110px;
    padding: 0 55px;
}

.slider__track--animation-3-right {
    animation: scroll-3-right 10s linear infinite;
}
.slider__track--animation-4-right {
    animation: scroll-4-right 12s linear infinite;
}
.slider__track--animation-5-right {
    animation: scroll-5-right 13s linear infinite;
}

.slider__track--animation-3-left {
    animation: scroll-3-left 10s linear infinite;
}
.slider__track--animation-4-left {
    animation: scroll-4-left 12s linear infinite;
}
.slider__track--animation-5-left {
    animation: scroll-5-left 13s linear infinite;
}

.slider__slide {
    width: fit-content;
}

.slider-track {
    display: flex;
}

@keyframes scroll-3-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-33.33%);
    } /* Mueve solo una "tercera parte" si hay 3 grupos */
}

@keyframes scroll-4-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-25%);
    } /* Mueve solo una "tercera parte" si hay 3 grupos */
}

@keyframes scroll-5-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20%);
    } /* Mueve solo una "tercera parte" si hay 3 grupos */
}

@keyframes scroll-3-right {
    from {
        transform: translateX(-33.33%);
    }
    to {
        transform: translateX(0);
    } /* Mueve solo una "tercera parte" si hay 3 grupos */
}

@keyframes scroll-4-right {
    from {
        transform: translateX(-25%);
    }
    to {
        transform: translateX(0);
    } /* Mueve solo una "tercera parte" si hay 3 grupos */
}

@keyframes scroll-5-right {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(0);
    } /* Mueve solo una "tercera parte" si hay 3 grupos */
}

@media all and (max-width: 500px) {
    .slider__track {
        gap: 70px;
        padding: 0 35px;
    }
}
