.s-works__item {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.work-flip-card {
    width: auto !important;
    height: min(80%, 80vw) !important;
    aspect-ratio: 1/1 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 5px;
}

.s-works__item-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 5s all ease;
}

.s-works__item-bg-img-container {
    width: 100%;
    transition: 5s all ease;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.s-works__item-bg-img-container::before {
    transition: 5s all ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bcc-black), 0.6);
    z-index: 1;
    backdrop-filter: blur(8px);
}
