<template class="work-template">
    <div class="s-works__item">
        <a href="#" title="#" class="link s-works__item-link">
            <img src="#" width="" height="" alt="#" class="s-works__item-link-img">
            <div class="s-works__item-info">
                <p class="s-works__item-date"></p>
                <h2 class="s-works__item-title"></h2>
                <p class="s-works__item-type"></p>
                <p class="s-works__item-tools"></p>
            </div>
        </a>
        <figure class="s-works__item-bg-img-container">
            <img src="#" width="" height="" alt="#" title="#" class="s-works__item-bg-img">
        </figure>



    </div>
</template>