<template class="work-template">
    <div class="s-works__item">
        <img src="#" width="" height="" alt="#" title="#" class="s-works__item-bg-img">
        <a href="#" title="#" class="s-works__item-link">
            <img src="#" width="" height="" alt="#" class="s-works__item-link-img">
        </a>
        <div class="s-works__item-info">
            <p class="s-works__item-date"></p>
            <h2 class="s-works__item-title"></h2>
            <p class="s-works__item-type"></p>
            <p class="s-works__item-tools"></p>
        </div>
    </div>
</template>