.pd-s-tech-stack__libraries {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pd-s-tech-stack__libraries-title {
    opacity: 0.2;
    width: max-content;
    font-family: Geologica-thin;
    font-size: 3rem;
    font-weight: 100;
}

.pd-s-tech-stack__libraries-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 var(--padding-page);
    gap: 20px;
}

.pd-s-tech-stack__libraries-tag {
    flex: 1;
    min-width: max-content;
    max-width: 200px;
    padding: 20px 35px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media all and (max-width: 1024px) {
    .pd-s-tech-stack__libraries-tag {
        max-width: 100%;
    }
}
