.s-skills__skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.s-skills__skill--reverse {
    align-items: flex-end;
}

.s-skills__skill-item--opacity0-7 {
    opacity: 0.6;
}

.s-skills__skill-title {
    font-family: Geologica-bold;
    color: rgb(var(--text-black));
    font-size: clamp(
        2.5rem,
        calc(
            2.5rem +
                (
                    (4rem - 2.5rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        4rem
    );
}

.s-skills__skill-desc {
    display: flex;
    gap: 5px 10px;
    flex-wrap: wrap;
}

.s-skills__skill-desc-item {
    font-family: Geologica-light;
    color: rgb(var(--text-black));
    font-size: clamp(
        1rem,
        calc(
            1rem +
                (
                    (1.3rem - 1rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        1.3rem
    );
}
