.pd-s-about {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: var(--section-vertical-padding) 0;
}
.pd-s-about__desc {
    padding: 0 var(--padding-page);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pd-s-about__desc-paragraph {
    font-family: Geologica-thin;
    font-size: 1.2rem;
    line-height: 1.5;
}

.pd-s-about__cards {
    padding: 0 var(--padding-page);
}

@media all and (max-width: 500px) {
    .pd-s-about__desc-paragraph {
        font-size: 1rem;
    }
}
