.default-fouter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: var(--section-vertical-padding) var(--padding-page);
    padding-bottom: var(--padding-page);
}
.default-footer__thanks {
    font-family: Geologica-bold;
    text-align: center;
    font-size: clamp(
        2.5rem,
        calc(
            2.5rem +
                (
                    (5rem - 2.5rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        5rem
    );
}
.default-footer__dev {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.default-footer__nick {
    font-family: Geologica-medium;
    text-align: center;
    font-size: 1.5rem;
}
.default-footer__signature {
    font-family: Geologica-thin;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.5;
}
.default-footer__occupation {
    font-family: Geologica-thin;
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.3;
    font-style: italic;
    text-transform: capitalize;
}
.default-footer__year {
    font-family: Geologica-regular;
    text-align: center;
    font-size: 1.3rem;
}
.default-footer__actions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
