<template class="default-footer-template">
    <footer class="default-fouter">
        <p class="default-footer__thanks">Gracias por su visita</p>
        <div class="default-footer__dev">
            <p class="default-footer__nick">Tortoise_code_z</p>
            <p class="default-footer__signature">VICTOR PEREZ</p>
        </div>

        <p class="default-footer__occupation">frontend web developer</p>
        <p class="default-footer__year">2025</p>
        <div class="default-footer__actions"></div>
    </footer>
</template>