.note-msg {
    width: 100%;
    padding: 50px var(--padding-page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.note-msg--info {
    background-color: #2d4378;
}

.note-msg--warning {
    background-color: #5e5c23;
}

.note-msg__icon {
    display: flex;
    align-items: center;
    color: #fff;
}

.note-msg__title-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.note-msg__title {
    font-family: Geologica-bold;
    color: #fff;
    text-transform: uppercase;
}
.note-msg__desc {
    font-family: Geologica-thin;
    color: #fff;
    line-height: 1.5;
}

@media all and (max-width: 500px) {
    .note-msg__desc {
        text-align: center;
    }

    .note-msg__title-container {
        justify-content: center;
    }
}
