.cards__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(var(--text-black), 1);
  flex: 1;
}

.cards__card-text {
  font-family: Geologica-medium;
  font-size: 14px;
  text-align: center;
}

.cards__card-icon {
  width: 30px;
  height: 30px;
}

.cards__card-icon svg {
  width: 100%;
  height: 100%;
}
