.s-about__profile {
    width: 100%;
    padding: 0 var(--padding-page);
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.s-about__profile-info {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.s-about__profile-about-title {
    font-family: Geologica-bold;
    color: rgb(var(--text-black));
    font-size: clamp(
        3.5rem,
        calc(
            3.5rem +
                (
                    (5rem - 3.5rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        5rem
    );
    text-transform: uppercase;
    text-align: center;
}
.s-about__profile-image {
    flex: 1;
    min-width: 275px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.s-about__profile-text {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1000px;
}

.s-about__profile-text-item {
    font-family: Geologica-thin;
    color: rgb(var(--text-black));
    font-size: clamp(
        1rem,
        calc(
            1rem +
                (
                    (1.2rem - 1rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        1.2rem
    );
    opacity: 0.9;
    line-height: 1.5;
}

@media all and (max-width: 850px) {
    .s-about__profile-name {
        display: none;
    }

    .s-about__profile-info {
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {
    .s-about__profile-name {
        display: none;
    }

    .s-about__profile-info {
        flex-direction: column;
    }

    .s-about__profile-image {
        max-width: none;
        width: 100%;
    }

    .s-about__profile-text {
        gap: 20px;
    }

    .s-about__profile-text-item {
        text-align: center;
    }
}
