.pd-s-tech-stack {
    padding: var(--section-vertical-padding) 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: rgb(var(--bcc-white));
    color: rgb(var(--bcc-black));
}

.pd-s-tech-stack__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
