.s-career__course-slide {
    min-width: max-content;
    font-size: clamp(
        1.5rem,
        calc(
            1.5rem +
                (
                    (3rem - 1.5rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        3rem
    );
    opacity: 0.07;
    text-transform: uppercase;
}
