.images-slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  padding-top: var(--navbar-height);
  position: relative;
  backdrop-filter: blur(10px);
}

.images-slider::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
  z-index: 1;
}

.images-slider > * {
  position: relative;
  z-index: 1;
}

.images-slider__data {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.images-slider__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.images-slider__track {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  height: 100%;
}

.images-slider__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s all ease;
}

.images-slider__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.images-slider__image {
  max-width: 70%;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.images-slider__label {
  font-family: Geologica-light;
  opacity: 0.5;
}

.images-slider__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.images-slider__button--next {
  transform: rotate(180deg);
}

.images-slider__bullets {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  overflow-x: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.images-slider__bullets::-webkit-scrollbar {
  width: 5px;
}

.images-slider__bullets::-webkit-scrollbar-track {
  background: transparent !important;
  margin: 0px 10px;
}

.images-slider__bullets::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 5px;
}

.images-slider__bullet {
  width: 50px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
  border-radius: 5px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.images-slider__bullet--active {
  outline: 1px solid #fff;
  opacity: 1;
  position: relative;
}

.images-slider__bullet:not(.images-slider__bullet--active):hover {
  opacity: 1;
}

.images-slider__slide--in-to-right {
  animation-name: in-to-right;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
.images-slider__slide--in-to-left {
  animation-name: in-to-left;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
.images-slider__slide--out-to-right {
  animation-name: out-to-right;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
.images-slider__slide--out-to-left {
  animation-name: out-to-left;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes in-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes in-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes out-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes out-to-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media all and (max-width: 1024px) {
  .images-slider__image {
    max-width: 100%;
    border-radius: 0px;
  }

  .images-slider__data {
    height: 60%;
  }
}

@media all and (max-width: 500px) {
  .images-slider__data {
    height: 100%;
  }

  .images-slider__bullets {
    height: auto;
    max-height: 100px;
    overflow-y: auto;
  }
}

@media all and (max-height: 450px) {
  .images-slider {
    flex-direction: row;
    padding: 0 5%;
  }

  .images-slider__bullets {
    height: auto;
    max-height: 100px;
    overflow-y: auto;
  }

  .images-slider__image {
    max-width: 100%;
    max-height: 100%;
  }

  .images-slider__track {
    height: 100%;
  }
}

@media all and (max-height: 320px) {
  .images-slider__track {
    height: 40%;
  }
}
