.images-slider {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}

.images-slider__data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-slider__track {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    height: 100%;
}

.images-slider__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-slider__image {
    width: 50%;
}

.images-slider__label {
}

.images-slider__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.images-slider__button {
}

.images-slider__button--next {
    transform: rotate(180deg);
}

.images-slider__bullets {
    display: flex;
    gap: 10px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
}

.images-slider__bullet {
    width: 50px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.images-slider__bullet--active {
    border: 2px solid blue;
    opacity: 1;
}

.images-slider__slide--in-to-right {
    animation-name: in-to-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.images-slider__slide--in-to-left {
    animation-name: in-to-left;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.images-slider__slide--out-to-right {
    animation-name: out-to-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.images-slider__slide--out-to-left {
    animation-name: out-to-left;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes in-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes in-to-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes out-to-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes out-to-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
