<template class="images-slider-template">
  <!-- Container -->
  <div class="images-slider">
    <!-- Image & Data -->
    <div class="images-slider__data">
      <div class="images-slider__track"></div>
      <p class="images-slider__label"></p>
    </div>
    <div class="images-slider__actions">
      <!-- Bullets -->
      <div class="images-slider__bullets"></div>
      <!-- Buttons -->
      <div class="images-slider__buttons">
        <button
          class="button-arrow button-arrow--light images-slider__button--previous"
          title="Previous"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m15 6l-6 6l6 6"
            />
          </svg>
        </button>
        <button
          class="button-arrow button-arrow--light images-slider__button--next"
          title="Next"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m15 6l-6 6l6 6"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>
