.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: transform 0.5s ease-in-out;
}

.navbar__link {
    font-size: clamp(
        0.875rem,
        calc(0.875rem + (100vw - 23.4375rem) * 0.00187),
        1rem
    );

    transition: color 0.1s linear;
    font-family: "Geologica-bold";
}

.navbar--hidden {
    transform: translateY(-100%);
}

@media all and (min-width: 1024px) {
    .navbar {
        padding: 30px 5%;
    }
}
