.s-about__strengths {
    width: 100%;
    max-width: 100%;
}

.s-about__strengths-title {
    padding: 0 var(--padding-page);
    font-family: Geologica-bold;
    color: rgb(var(--text-black));
    font-size: clamp(
        2.5rem,
        calc(
            2.5rem +
                (
                    (4rem - 2.5rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        4rem
    );
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
