.s-skills {
    width: 100%;
    padding: var(--section-vertical-padding) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgb(var(--bcc-white));
    color: rgb(var(--text-black));
    position: relative;
    min-height: 100px;
}

.s-skills__items-container {
    width: 100%;
    padding: 0 var(--padding-page);
    display: flex;
    flex-direction: column;
    gap: 100px;
}
