@font-face {
    font-family: "Geologica-extraBold";
    src: url(../assets/fonts/Geologica/static/Geologica-ExtraBold.ttf);
}

@font-face {
    font-family: "Geologica-bold";
    src: url(../assets/fonts/Geologica/static/Geologica-Bold.ttf);
}

@font-face {
    font-family: "Geologica-regular";
    src: url(../assets/fonts/Geologica/static/Geologica-Regular.ttf);
}

@font-face {
    font-family: "Geologica-light";
    src: url(../assets/fonts/Geologica/static/Geologica-Light.ttf);
}

@font-face {
    font-family: "Geologica-extralLight";
    src: url(../assets/fonts/Geologica/static/Geologica-ExtraLight.ttf);
}

@font-face {
    font-family: "Geologica-thin";
    src: url(../assets/fonts/Geologica/static/Geologica-Thin.ttf);
}
