@import url(./fonts.css);
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Geologica-regular";
    color: var(--text-white);
    background-color: var(--bcc-black);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent !important;
    margin: 0px 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    border-radius: 5px;
}

body {
    overflow: hidden;
}

.section {
    width: 100%;
    padding: 100px 0;
}

a {
    text-decoration: none;
    color: var(--bcc-white);
}

button,
.button {
    background-color: transparent;
    padding: 20px 25px;
    border-radius: 100px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    font-family: "Geologica-regular";
    color: var(--bcc-white);
    transition: ease all 0.3s;
}

.btn-primary {
    color: var(--text-white);
    border: 1px solid var(--text-white);
    background-color: var(--bcc-black);
}

.btn-primary:hover {
    background-color: var(--bcc-white);
    color: var(--text-black);
}

.btn-secondary {
    color: var(--text-black);
    border: 1px solid var(--text-black);
    background-color: var(--bcc-white);
}

.btn-secondary:hover {
    background-color: var(--bcc-black);
    color: var(--text-white);
}

.align-right {
    align-items: flex-end !important;
}

.text-align-right {
    text-align: right !important;
}

.display-none {
    display: none !important;
}

.pe-none {
    pointer-events: none !important;
}

.tb-move-off {
    position: relative;
    transform: translateY(-100px);
    opacity: 0;
}

.tb-move-on {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s ease-out;
}

.opacity-1 {
    opacity: 1 !important;
}

.opacity-0 {
    opacity: 0 !important;
}

@media all and (min-width: 768px) {
    .section {
        padding: 150px 0;
    }
}

@media all and (min-width: 1024px) {
    .section {
        padding: 200px 0;
    }
}
