@import url(./index.css);

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--bcc-black), 0.95);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

