.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(
            rgba(var(--bcc-black), 0.8),
            rgba(var(--bcc-black), 0.8)
        ),
        url("../../../../assets/images/Header-Image1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 5%;
    padding-top: var(--navbar-height);
}
.hero__title {
    font-family: Geologica-bold;
    font-size: 8rem;
    color: rgb(var(--text-white));
    text-transform: uppercase;
}
.hero__dev {
    font-family: Geologica-medium;
    font-size: 1.2rem;
    color: rgb(var(--text-white));
    text-transform: uppercase;
}
