.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(
            rgba(var(--bcc-black), 0.8),
            rgba(var(--bcc-black), 0.8)
        ),
        url("../../../../assets/images/Header-Image1.webp");
    background-size: cover;
    background-position: center;

    background-attachment: fixed;

    padding: 0 5%;
}

.hero__title {
    font-family: Geologica-bold;
    font-size: clamp(
        2.5rem,
        calc(
            2.5rem +
                (
                    (8rem - 2.5rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        8rem
    );
    color: rgb(var(--text-white));
    text-transform: uppercase;
}

.hero__dev {
    font-family: Geologica-medium;
    font-size: clamp(
        1rem,
        calc(
            1rem +
                (
                    (1.2rem - 1rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        1.2rem
    );
    color: rgba(var(--text-white), 0.8);
    text-transform: uppercase;
}

@media all and (max-height: 500px) {
    .hero {
        padding-top: var(--navbar-height);
    }
    .hero__title {
        font-size: 3.5rem;
    }

    .hero__dev {
        font-size: 0.8rem;
    }
}
