.animated-element {
    opacity: 0;
}

.animated-element--fade-in-bottom {
    animation-name: fade-in-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-element--fade-in-top {
    animation-name: fade-in-top;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-element--fade-in-right {
    animation-name: fade-in-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-element--fade-in-left {
    animation-name: fade-in-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
