/* .animated-element {
} */

.animated-element--fade-in-bottom {
    animation-name: fade-in-bottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-element--fade-in-top {
    animation-name: fade-in-top;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-element--fade-in-right {
    animation-name: fade-in-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-element--fade-in-left {
    animation-name: fade-in-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
