:root {
  --text-white: 247, 247, 247; /* #f7f7f7 */
  --text-black: 51, 51, 51; /* #333333 */
  --bcc-white: 248, 248, 248; /* #f8f8f8 */
  --bcc-black: 14, 14, 14; /* #0e0e0e */

  --section-vertical-padding-desktop: 150px;
  --section-vertical-padding-mobile: 100px;

  --padding-page: 7.5%;
  --padding-page-mobile: 5%;
}
