.s-works__back-card {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px rgba(var(--bcc-black), 0.7);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s-works__back-card::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.s-works__back-card > * {
    position: relative;
    z-index: 3;
}

.s-works__back-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.s-works__back-card-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.s-works__back-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.s-works__back-card-title {
    font-family: Geologica-bold;
    font-size: clamp(
        1.2rem,
        calc(
            1.2rem +
                (
                    (2.5rem - 1.2rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        2.5rem
    );

    text-transform: uppercase;
}

.s-works__back-card-type {
    font-family: Geologica-light;
    font-size: clamp(
        1rem,
        calc(
            1rem +
                (
                    (1.6rem - 1rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        1.6rem
    );

    text-transform: capitalize;
}

.s-works__back-card-tools {
    font-family: Geologica-thin;
    font-size: clamp(
        0.8rem,
        calc(
            0.8rem +
                (
                    (1rem - 0.8rem) /
                        (var(--viewport-max-width) - var(--viewport-min-width)) *
                        (100vw - var(--viewport-min-width))
                )
        ),
        1rem
    );

    text-transform: uppercase;
}

.s-works__back-card-action svg {
    width: 20px !important;
    height: 20px !important;
}

.s-works__back-card-action {
    flex: 1;
}

@media all and (max-width: 500px) {
    .s-works__back-card {
        padding: 20px;
    }
    .s-works__back-card-action {
        padding: 10px 15px !important;
    }

    .s-works__back-card-data {
        gap: 10px;
    }
}

@media all and (max-height: 500px) {
    .s-works__back-card-action {
        padding: 10px 15px !important;
    }

    .s-works__back-card-data {
        gap: 10px;
    }

    .s-works__back-card {
        padding: 20px;
    }

    .s-works__back-card-title {
        font-size: 1rem;
    }

    .s-works__back-card-type {
        font-size: 0.9rem;
    }

    .s-works__back-card-tools {
        font-size: 0.8rem;
    }
}
