.s-about {
    width: 100%;
    padding: var(--section-vertical-padding) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgb(var(--bcc-white));
    color: rgb(var(--bcc-black));
}
