.s-pd-dev-process {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: var(--section-vertical-padding) 0;
}
.s-pd-dev-process__desc {
    padding: 0 var(--padding-page);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dev-process__desc-paragraph {
    font-family: Geologica-thin;
    font-size: 1.2rem;
    line-height: 1.5;
}

.dev-process__cards {
    padding: 0 var(--padding-page);
}

@media all and (max-width: 500px) {
    .dev-process__desc-paragraph {
        font-size: 1rem;
        text-align: center;
    }
    .s-pd-dev-process__desc {
        gap: 30px;
    }
}
